.todo-item {
  padding: 1.2em;
  border-bottom: 2px solid var(--lt-grey-blue-20-clr);
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
  position: relative;
}

.border-gradient-wrapper {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  position: relative;
}

.border-gradient-wrapper:hover {
  background: var(--check-bg-clr);
}

.border-gradient-wrapper .check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.check-icon.completed {
  background: var(--check-bg-clr);
  border: none;
}

.todo {
  margin-left: 0.8em;
  text-transform: capitalize;
}

.todo.completed {
  text-decoration: line-through;
}

.delete-icon {
  position: absolute;
  right: 1.5em;
  cursor: pointer;
  object-fit: contain;
  margin-left: 2em;
  display: none;
}

.todo-item:hover .delete-icon {
  display: block;
}
