.input-field {
  position: relative;
}

.check-icon.input-icon {
  position: absolute;
  top: 16px;
  left: 20px;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 1em 3em;
  border-radius: 6px;
  outline: none;
  border-style: none;
  font-size: 1.2rem;
  color: var(--lt-grey-blue-50-clr);
}

@media (max-width: 600px) {
  .input {
    font-size: 0.9rem;
    padding: 1.4em 4.1em;
  }
}
