.todo-item {
  padding: 1.2em;
  border-bottom: 2px solid var(--lt-grey-blue-20-clr);
  display: flex;
  align-items: center;
  list-style: none;
}

.border-gradient-wrapper {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  position: relative;
}

.border-gradient-wrapper:hover {
  background: linear-gradient(to right, #57ddff, #c058f3);
}

.border-gradient-wrapper .check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.todo {
  margin-left: 0.8em;
}

.todo.completed {
  text-decoration: line-through;
}
