:root {
  /* PRIMARY COLORS */
  --primary-clr: hsl(220, 98%, 61%);
  --check-bg-clr: linear-gradient(to right, #57ddff, #c058f3);

  /* LIGHT THEME */
  --lt-grey-10-clr: hsl(0, 0%, 98%);
  --lt-grey-blue-20-clr: hsl(236, 33%, 92%);
  --lt-grey-blue-30-clr: hsl(233, 11%, 84%);
  --lt-grey-blue-40-clr: hsl(236, 9%, 61%);
  --lt-grey-blue-50-clr: hsl(235, 19%, 35%);

  /* DARK THEME */
  --dt-blue-clr: hsl(235, 21%, 11%);
  --dt-desaturated-blue-clr: hsl(235, 24%, 19%);
  --dt-grey-blue-clr: hsl(234, 39%, 85%);
  --dt-grey-blue-hover-clr: hsl(236, 33%, 92%);
  --dt-grey-blue-10-clr: hsl(234, 11%, 52%);
  --dt-grey-blue-20-clr: hsl(233, 14%, 35%);
  --dt-grey-blue-30-clr: hsl(237, 14%, 26%);
}

.app {
  font-size: 1.1rem;
}

.hero {
  height: 40vh;
  background-image: url("./images/bg-desktop-light.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 8em;
}

.heading {
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--lt-grey-10-clr);
  margin-top: -2.4em;
}

.theme-toggle {
  width: 30px;
  margin-top: -6.2em;
  cursor: pointer;
}

.container {
  width: 600px;
  margin: -8em auto 4.5em;
}

.wrapper {
  min-height: 200px;
  margin-top: 1.5em;
  padding-top: 0.2em;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
}

.todo-list {
  border-radius: 6px;
}

.check-icon {
  border: 1.5px solid var(--lt-grey-blue-30-clr);
  border-radius: 50%;
  display: block;
  width: 25px;
  height: 25px;
  object-fit: none;
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding-bottom: 1.25em;
  margin: 1.25em 2em;
  color: var(--lt-grey-blue-40-clr);
}

.filter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 500;
}

.filter p {
  margin: 0 0.5em;
}

.clear {
  cursor: pointer;
}

.clear:hover,
.filter p:hover {
  color: var(--lt-grey-blue-50-clr);
}

.footer {
  position: relative;
  left: 0;
  right: 0;
  bottom: 1.25em;
  color: var(--lt-grey-blue-40-clr);
  text-align: center;
}

.attribution {
  color: var(--lt-grey-blue-50-clr);
}

.filtered {
  color: hsl(228, 45%, 44%);
}
